@tailwind base;
@tailwind components;
@tailwind utilities;

#modalList {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-size: 18px;
  gap: 10px;
}
#modalList2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-size: 18px;
  gap: 10px;
  text-decoration: underline;
  li {
    cursor: pointer;
  }
}
